.nav-item {

  // <div class="active-marker"></div>
  .active-marker {
    width: 40px;
    border-bottom: 2px solid black;
    margin-left: 8px;
  }
}

.nav-link {
  &:hover {
    color: black;
  }
}

.service-link {
  color: black;
  transition: .2s;

  &:hover {
    transition: .2s;
    color: #ffcb93;
    text-decoration: none;
  }
}

.works-link {
  color: white;
  font-size: 18px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}